.flex{
    display: flex;
}
body.naocale-active{
  overflow: hidden;
}
.naocale-background{display: none;}
.naocale-active.naocale-background{
  width: 100vw;
  height: 100dvh;
  background-color: #fff;
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
}
.gallery.naocale-active{
z-index: 100;
.flickity-page-dots{
  display: none;
}
.flickity-prev-next-button{
  display: block !important;
  z-index: 101;
  background-color: #eaeaea;
}
.gallery-cell {
  width: 90%;
  
}

.povecalo{
  display: none;
}
.previous{
  left: 1%;
}
.next{
  right: 1%;
}
}
.gallery-cell {
    width: 48%;
    margin-right: 320px;
    counter-increment: gallery-cell;
  }
  
  .gallery-cell-holder{
    padding-top: 42% ;
    position: relative;
    picture{
      display: none;
    }
    .gallery-cell-holder-active{
      display: block;
    }
  }
 
  .flickity-prev-next-button.previous {
    left: 11%;
  }
  .flickity-prev-next-button.next {
    right: 11%;
  }
  .flickity-prev-next-button{
    background: transparent;
  }

  .flickity-prev-next-button:hover{
    background: transparent;
  }
  .flickity-page-dots{
    bottom: -100px;
    margin-left: 11%;
    width: 78%;
    display: flex;
  }
  .flickity-page-dots .dot {
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    margin: 0 ;
    background: #333;
    border-radius: 0;
    filter: alpha(opacity=25);
    opacity: 0.25;
    cursor: pointer;
  }
  .product-full{
    margin-top: 150px;
    margin-bottom: 64px;
  }
  .product-info{
    grid-column: span 6;
    div{
        display: flex;
        align-items: center;
        img{
            height: 17px;
            margin-left: 2px;
        }
    }
    h3{
        font-size: 23px;
        font-weight: 400;
        margin-right: 8px;
    }
    h2{
        font-size: 35px;
        margin-bottom: 15px;
        font-weight: 400;
    }
    h4{
        margin-bottom: 8px;
        font-size: 15px;
        opacity: 0.5;
    }
    p{
        margin-top: 24px;
        
    }
    a{
        text-decoration: underline;
        color: black;
    }
  }
  .yotpo-icon-empty-star::before {
    content: "\e61b";
  }
  .yotpo-icon-empty-star {
    font-size: 17.5px;
  }
  .add-to-cart{
    display: flex;
    justify-content: right;
    grid-column: span 6;
    align-items: end;
    position: relative;
    input[type=radio] {
      /* Add if not using autoprefixer */
      -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
      /* For iOS < 15 to remove gradient background */
      background-color: #fff;
      /* Not removed via appearance */
      margin: 0;
      padding: 0;
      font: inherit;
      color: currentColor;
      width: 20px ;
      height: 20px;
      background-color: red;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      
    }
    
    input[type=radio]::before {
      left: -4px;
      position: absolute;
      top: -4px;
      z-index: 2;
      content: "";
      width: 26px;
      height: 26px;
      border-radius: 50%;
      border: 1px #000 solid;
      transform: scale(0);
    }
    
    input[type=radio]:checked::before {
      transform: scale(1);
    }
    fieldset{
      display: flex;
      gap:8px
    }
  }
  .colors{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 49px;
  }
  .add-button{
    background-color: black;
    transition: 0.1s;
    color: #fff;
    height: fit-content;
    padding: 15px 50px;
    cursor: pointer;
    position: relative;
  }
  .add-button:hover{
    background-color: rgb(53, 53, 53);
  }
  
  #color-name{
    margin-left: 16px;
    margin-right: 16px;
  }
  .heart-buy{
    position: absolute;
    bottom: 49px + 10px;
    right: 0;
    cursor: pointer;
    svg{
      height: 24px;
      width: 24px;
    }
  }
  .icon-heart__fill {
    transition: fill .1s ease-in-out;
  }
  .heart-buy:hover{ .icon-heart__fill {
    fill: #000;
  }}
  .product-details{
    margin-top: 200px;
    position: relative;
    div{
      grid-column: span 4;
    }
    svg{
      width: 18px;
    }
    p{
      color: #767676;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 12px;
      a{
        color: #767676;
        text-decoration: underline;
      }
    }
    h5{
      font-weight: 400;
      line-height: 18px;
      font-size: 15px;
      color: #000;
      margin-bottom: 12px;
    }
    .termin{
      font-weight: 700;
      line-height: 18px;
      font-size: 15px;
      color: #000;
      position: relative;
    }
    .termin:after{
      content:"";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #000;
      right: 0px;
      bottom:-3px;
      
    }
    .termin:hover:after{
      animation-direction: alternate;
      animation-duration: 0.5s;
    animation-name: mymove;
    animation-iteration-count: 2;
    animation-direction: alternate;
    }
  }
  @keyframes mymove {
    from {width: 100%;}
    to {width: 0%;}
  }



  .selection-full{
    display: flex;
    margin-top: 50px;
}
.selection{
  box-sizing: border-box;
  width: 100%;
  position: relative;
  transition: 0.5s;
  .shop-element:nth-child(1) , .shop-element:nth-child(2) , .shop-element:nth-child(3){
    border-top: 0px;
  }
}
.shop-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  
}
.shop-element{
  grid-column: span 2;
  height: fit-content;
  text-align: center;
  padding-bottom: 65px;
  border-top: #e0e0e0 1px solid;
  padding-top: 65px;
  padding-left: 15px;
  padding-right: 15px;
}
.shop-element-above{
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}
.shop-element-holder{
  padding-top: 65%;
  position: relative;
  img{
    object-fit: contain;
  }
}
.img-1{
  opacity: 0;
  transition: 0.2s;
}
.img-2{
  transition: 0.2s;
}
.shop-element:hover{
  .img-1{
    opacity: 1;
  }
  .img-2{
    opacity: 0;
  }
}
.shop-element-brand{
  font-weight: 700;
  font-family: Lausanne,sans-serif;
font-size: 14px;
line-height: 1.2;
margin-top: 15px;
}
.shop-element-name{
  margin-top: 8px;
}
.shop-element-price{
  margin-top: 6px;
}
.shop-element-colors{
  margin-top: 6px;
  opacity: 0.7;
}
.try-on{
  cursor: pointer;
  svg{
    width: 83px;
    height: 21px;
  }
}
.heart{
  cursor: pointer;
  svg{
    height: 24px;
    width: 24px;
  }
}

.icon-heart__fill {
  transition: fill .1s ease-in-out;
}
.heart:hover{ .icon-heart__fill {
  fill: #000;
}}

.preporuceni-proizvodi{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
h1{
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}
p{
  width: 20%;
  color: #767676;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 24px;
      text-align: center;
}
}
.search{
  background-color: #000;
  padding-top: 120px;
  padding-bottom: 120px;
  .container{
    position: relative;
  }
  input{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    border-bottom: #fff 1px solid;
    margin-top: 48px;
    background-color: transparent;
    color: #fff;
    font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  padding-bottom: 4px;
  }
  input::placeholder {
    color: #fff;
    opacity: 1;
  }
  label{
    font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 24px;
    width: 100%;
    
    box-sizing: border-box;
    color: #fff;
  }
}
.arrow-1 {
  position: absolute;
  right: 72px;
  bottom: 10px; 
  box-sizing: border-box;
  width:50px;
  height:30px;
  display: flex;
  overflow: clip;
}
.arrow-1:before {
  content: "";
  position: relative;
  background: #fff;
  width:15px;
  flex-grow: 1;
  clip-path: polygon(88% 30%, 90% 30%, 100% 50%, 100% 50%, 90% 70%, 88% 70%, 98% 52%, 00% 52%, 00% 48%, 98% 48%);
}
  .arrow-1:hover:before{
  
  animation-direction: alternate;
      animation-duration: 1s;
    animation-name: a1;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes a1 {
  from {}
    to {}
    0% {
      left: 0;
    }
    25% {
      left: 100px;
    }
    30% {
      top:100px;
    }
    35% {
      left: -200px;
    }
    40%{
      top:0px;
    }
    100% {
      left:0
    }
}
.newsletter{
  margin-top: 0;
  padding-top: 180px;
  padding-bottom: 180px;
  h1{
    grid-column: span 5;
    color: #161A14;
font-family: Inter;
font-size: 59.81px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
  }
  p{
    color: #161A14;
font-family: Inter;
font-size: 17.12px;
font-style: normal;
font-weight: 400;
line-height: 31.445px;
  }
}
.newsletter-input{
  grid-column: 7/span 5;
  position: relative;
  input{
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
    margin-top: 24px;
    padding-left: 8px;
    position: relative;
    color: #161A14;
font-family: Inter;
font-size: 14.773px;
font-style: normal;
font-weight: 400;
line-height: normal;
z-index: 2;
  }
  input::placeholder {
    color: #CCC;
    opacity: 1;
  }
  svg{
    position: absolute;
    right: -40px;
    bottom: -25px;
    z-index: 1;
  }
}
footer{
  margin-top: 0;
}
@media only screen and (max-width: 950px) {
  .newsletter{
    padding-top: 180px;
    padding-bottom: 180px;
    h1{
      grid-column: span 12;
      font-size: 59.81px;
    }
    
  }
  .newsletter-input{
    grid-column: span 12;
    margin-top: 24px;
  }
  .preporuceni-proizvodi{
    p{
      width: 100%;
      
    }
    }
    .product-info {
      grid-column: span 12;
    }
    .add-to-cart {
      
      grid-column: span 12;
      

    }
}
@media only screen and (max-width: 650px) {
  .product-full{
    margin-top: 100px;
  }
  .product-details {
    margin-top: 100px;
    div {
    grid-column: span 12;
    margin-bottom: 24px;
  }
    
   
  }
  .gallery-cell {
    width: 90%;
    
  }
  .flickity-page-dots {
    bottom: -50px;
    
  }
  .flickity-prev-next-button{
    display: none;
  }
  .preporuceni-proizvodi{
    h1{
      text-align: center;
    }
    }
  .search{
    padding-bottom: 100px;
    padding-top: 100px;
    margin-top: 80px;
    input{
      font-size: 20px;
      line-height: 24px;
    }
  }
  .arrow-1{
    display: none;
  }
  .newsletter{
    padding-top: 100px;
    padding-bottom: 100px;
    h1{
      grid-column: span 12;
      font-size: 40.81px;
    }
    svg{
      display: none;
    }
  }
  .shop-element{
    padding-left: 0;
    padding-right: 0;
  }
  
    .shop-element{
      grid-column: span 6;
    }
     .shop-element:nth-child(3),.shop-element:nth-child(2){
      border-top: #e0e0e0 1px solid !important;

    }
    .add-button {
      
      padding: 15px 40px;
      
    }
  .povecalo{
    position: absolute;
    right:10%;
    top: -180px;
    width: 44px;
    height: 44px;
    display: grid;
    align-items: center;
  justify-items: center;
  border-radius: 100%;
    background-color: #e0e0e0 ;
    img{
      height: 24px;
      width: auto;
    }
  }
}
@media only screen and (max-width: 450px) {
.add-to-cart {
  flex-direction: column;
  align-items: baseline;
 button{
  width: 100%;
 }

}
.shop-element {
  
  padding-bottom: 32px;
  
  padding-top: 32px;
  
}}